.header {
    background-color: #ffffff;
    color: darkgray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    color: darkcyan;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #FFD700;
}